<!DOCTYPE html>
<html>
<head>
  <title>ModyoCain</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>  
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          	<%= link_to "cain app", '#', id: "logo" %>
          	<div class="btn-group">
			  	<button class="btn"><%= link_to "Home",    '#' %></button>
			  	<button class="btn"><%= link_to "Help",    '#' %></button>
			  	<button class="btn"><%= link_to "Sign in", '#' %></button>
			</div>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>    
    <%= render 'layouts/footer' %>
</body>
</html>
